@app.route('/admin/atualizar_produto', methods=['POST'])
def atualizar_produto():
    if not session.get('admin_logado'):
        return redirect(url_for('login'))


    id_p = int(request.form.get('id'))
    nova_desc = request.form.get('descricao')
    novo_preco = float(request.form.get('preco'))
    cat = request.form.get('categoria')


    lista = hamburgueres if cat == 'hamburguer' else bebidas


    for item in lista:
        if item['id'] == id_p:
            item['descricao'] = nova_desc
            item['preco'] = novo_preco
            break

    return redirect(url_for('admin_painel'))